#Banner-header{

    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    .header-bg-parallax{

        background: url(../images/48.jpg) no-repeat center center fixed;
        background-size: cover;

        .overlay {
            background: rgba(0, 0, 0, 0.5);

            .header-description {
                position: relative;
                padding: 150px 0;

                h1 {
                    color: 
                    #fff;
                    font-size: 40px;
                    font-weight: 600;
                    margin-bottom: 40px;
                    text-transform: uppercase;
                }

                .breadcrumbs ul li {
                    display: inline-block;

                    a {
                        color:#fff !important;
                        font-size: 16px;
                        text-transform: capitalize;
                        font-weight: 500;

                        &:hover{
                            color: #8a8f6a !important;
                        }
                        
                        &.active {
                            color: #8a8f6a !important;
                        }
                    }
                } 
            }
        }
    }
}